<nav class="bg-dark">
    <a class="navbar-brand offset-6 text-danger mb-5" routerLink="/news">
      News
    </a>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link text-success" id="nav-home-tab" data-toggle="tab" routerLink="/countries" role="tab"
      aria-controls="nav-home" aria-selected="true">Countries</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="/categories" role="tab"
      aria-controls="nav-profile" aria-selected="false">Categories</a>
    <a class="nav-item nav-link text-info" id="nav-contact-tab" data-toggle="tab" routerLink="/sources" role="tab"
      aria-controls="nav-contact" aria-selected="false">Sources</a>
    <a class="nav-item nav-link text-warning" id="nav-contact-tab" data-toggle="tab" routerLink="/search-news" role="tab"
      aria-controls="nav-contact" aria-selected="false">Search News</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
